# This is a sample build configuration for TravisCI
sudo: required

language: java

services:
  - docker

before_install:
  - docker pull djfarrelly/maildev

install:
  - docker run -d -p 1080:80 -p 1025:25 djfarrelly/maildev

script:
# -B batch mode makes Maven less verbose
  - mvn -B clean verify

after_success:
- cp $TRAVIS_BUILD_DIR/integration-tests/target/generated-docs/readme.html $TRAVIS_BUILD_DIR/index.html

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
  keep-history: true
  on:
    branch: master
